
.right {
  
  .form-div {

  .search-bar {
    border-radius: 25px;
   margin: 250px 10px 0px 100px;
    

    input {
      text-align: center;
      font-size: 5px;
      outline: none;
      background-color: #F0EFE9;
      border: none;
    }

    #email {
      border-radius: 30px; /* Rundade kanter */
      font-size: 16px; /* Ange textstorlek */
      padding: 17px 150px 17px 40px; /* Lägg till lite utrymme runt texten */
      
    }

    #email::placeholder {
      color: rgb(43, 41, 41); /* Grå färg för plachållartexten */
      font-style: italic; /* Kursiv stil för plachållartexten */
      font-size: 17px;
    }  
}

}
    

  }




