
.right {
  
  .form-div {

  .search-bar {
    border-radius: 25px;
   margin: 250px 10px 0px 100px;
    

    input {
      text-align: center;
      font-size: 5px;
      outline: none;
      background-color: #F0EFE9;
      border: none;
    }

    #email {
      border-radius: 30px; /* Rundade kanter */
      font-size: 16px; /* Ange textstorlek */
      padding: 14px 65px 14px 50px; /* Lägg till lite utrymme runt texten */
      
    }

    #email::placeholder {
      color: rgb(129, 129, 129); /* Grå färg för plachållartexten */
      font-size: 17px;
      padding-right: 100px;
    }  
  }
}
    

  }

  .input-container {
    position: relative;
    display: inline-flex;
    align-items: center;
  
    i.fa-magnifying-glass {
      position: absolute;
      left: 20px; /* Justera vänsterpositionen för ikonen efter behov */
      pointer-events: none; /* Förhindra att ikonen interagerar med användaren */
    }
  
    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 10px; /* Justera högerplatsen för att ge utrymme för ikonen */
     
    } 
  
  }
  
 

 
