.news-and-articles{
  
  .container {
    
    .left {
      
      h3 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-size: 22px;
        font-weight: 700;
        padding-top: 85px;
        padding-bottom: 16px;
        text-align: left;
      }
       
      .paragraph-under-title {
        display: flex;
        justify-content: center;
        p {
          font-family: 'DM Sans', sans-serif;
          font-size: 15px;
        
        }
        .yellow-circle {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #F9D783;
          margin-right: 12px;
        }
      }

  }




}

}