.grey-btn {
    background-color: #2525250d;
    border: solid 1px #2c2c2c0d;
    color: black; /*Textens färg */
    text-decoration: none; /*vi tar bort strecket under texten Login */
    font-family: 'Inter', sans-serif;
    font-weight: 400; /*här får vi tjockare text */
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 15px 0px 10px;
    margin-top: 50px;
    margin-right: 12px;
    text-align: center;
    padding: 10px 30px;

      &:hover { 
      background-color: #535252; 
      border: 1px solid #424242; 
      color: #F0EFE9; 
      }
    

}