.right {
    .form-div {


    }

    .recent-posts{
        border: solid 1px #424242;
        height: 35rem;
        width: 25rem;
        margin: 50px 0px 50px 100px;

    }

    .categories{
        border: solid 1px #424242;
        height: 35rem;
        width: 25rem;
        margin-left: 100px;
    }

}