@media (min-width: 576px) {
    .showcase-2 {
      margin-left: 0;
      margin-bottom: 0;
      background-color: rgb(255, 255, 255);
    }
  }
  .showcase-2 .container .logo-section {
    background-color: rgb(255, 255, 255);
    display: none;
  }
  @media (min-width: 576px) {
    .showcase-2 .container .logo-section {
      margin-bottom: 60px;
      margin-top: 50px;
      display: block;
      margin-left: -100px;
    }
  }
  .showcase-2 .container .logo-section .logo {
    background-color: #ffffff;
    margin-left: 90px;
  }
  .showcase-2 .container-2 {
    padding-bottom: 100px;
    max-width: 1400px;
    gap: 2rem;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 {
      background-color: #ffffff;
      border: solid 1.6px rgb(208, 208, 208);
      display: flex;
      width: 1600px;
      height: 600px;
      margin-left: 120px;
    }
  }
  .showcase-2 .container-2 .left {
    background-color: #ffffff;
    margin-bottom: 60px;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .left {
      padding-left: 115px;
      margin-bottom: 0px;
    }
  }
  .showcase-2 .container-2 .left p {
    font-family: "Inter", sans-serif; /*Textsnitt */
    font-size: 16px; /*storleken på texten */
    font-weight: 500;
    color: rgb(249, 77, 28);
    margin-top: 15px;
    text-align: center;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .left p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 60px;
      text-align: start;
      display: block;
    }
  }
  .showcase-2 .container-2 .left h2 {
    font-family: "DM Sans", sans-serif; /*kolla design mallen och hämta från fonts.google.com */
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 10px;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .left h2 {
      font-size: 45px;
      text-align: left;
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 50px;
    }
  }
  .showcase-2 .container-2 .left .btn-learn-yellow {
    display: none;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .left .btn-learn-yellow {
      display: block;
      background-color: #F9D783;
      border: solid 1px #F9D783;
      color: #191919; /*Textens färg */
      text-decoration: none; /*vi tar bort strecket under texten Login */
      padding: 10px 160px 10px 160px; /*Här är det som att säga padding-top och bottom:8px, samt padding-top och bottom: 25px */
      font-weight: 500; /*här får vi tjockare text */
      font-size: 16px; /*samma storlek som redan finns, men för att kunna hänvisa till denna från "i" så sätter vi en fontsize. */
      border-radius: 30px;
    }
    .showcase-2 .container-2 .left .btn-learn-yellow i {
      margin: 8px; /*skapar avstånd mellan ikonen (pilen) och texten */
      font-size: 0.9em;
      font-weight: 700;
    }
    .showcase-2 .container-2 .left .btn-learn-yellow:hover {
      background-color: #191919; /*När vi går över med musen så blir bakgrundsfärgen svar */
      border: 1px solid #191919; /*bordern blir också svart då den var gul innan*/
      color: #F0EFE9; /* text färgen går över från svart till vit (obs! lite mjukare vit) */
    }
  }
  .showcase-2 .container-2 .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 35px;
      margin-left: 100px;
      row-gap: 0;
    }
  }
  .showcase-2 .container-2 .right .business-advice {
    margin-left: 13px;
  }
  .showcase-2 .container-2 .right .business-advice img {
    margin-bottom: 10px;
  }
  .showcase-2 .container-2 .right .business-advice h2 {
    font-family: "DM Sans", sans-serif; /*kolla design mallen och hämta från fonts.google.com */
    font-weight: 600;
    font-size: 18px;
    color: #191919;
  }
  .showcase-2 .container-2 .right .business-advice p {
    color: rgb(94, 94, 93);
    font-family: "Inter", sans-serif; /*Textsnitt */
    font-size: 13px; /*storleken på texten */
    font-weight: 400;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .right .business-advice {
      margin-top: 40px;
      margin-left: 0;
    }
    .showcase-2 .container-2 .right .business-advice img {
      margin-bottom: 30px;
    }
    .showcase-2 .container-2 .right .business-advice h2 {
      font-weight: 900;
      font-size: 22px;
    }
    .showcase-2 .container-2 .right .business-advice p {
      font-size: 16px; /*storleken på texten */
      font-weight: 400;
    }
  }
  .showcase-2 .container-2 .right .startup-business {
    margin-left: 13px;
  }
  .showcase-2 .container-2 .right .startup-business img {
    margin-bottom: 10px;
  }
  .showcase-2 .container-2 .right .startup-business h2 {
    font-family: "DM Sans", sans-serif; /*kolla design mallen och hämta från fonts.google.com */
    font-weight: 600;
    font-size: 18px;
    color: #191919;
  }
  .showcase-2 .container-2 .right .startup-business p {
    color: rgb(94, 94, 93);
    font-family: "Inter", sans-serif; /*Textsnitt */
    font-size: 13px; /*storleken på texten */
    font-weight: 400;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .right .startup-business {
      margin-top: 40px;
      margin-left: 62px;
    }
    .showcase-2 .container-2 .right .startup-business img {
      margin-bottom: 30px;
    }
    .showcase-2 .container-2 .right .startup-business h2 {
      font-weight: 900;
      font-size: 22px;
    }
    .showcase-2 .container-2 .right .startup-business p {
      font-size: 16px; /*storleken på texten */
      font-weight: 400;
    }
  }
  .showcase-2 .container-2 .right .financial-advice {
    margin-left: 13px;
  }
  .showcase-2 .container-2 .right .financial-advice img {
    margin-bottom: 10px;
  }
  .showcase-2 .container-2 .right .financial-advice h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #191919;
  }
  .showcase-2 .container-2 .right .financial-advice p {
    color: rgb(94, 94, 93);
    font-family: "Inter", sans-serif; /*Textsnitt */
    font-size: 13px; /*storleken på texten */
    font-weight: 400;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .right .financial-advice {
      margin-top: 40px;
      margin-left: 0px;
    }
    .showcase-2 .container-2 .right .financial-advice img {
      margin-bottom: 30px;
    }
    .showcase-2 .container-2 .right .financial-advice h2 {
      font-weight: 900;
      font-size: 22px;
    }
    .showcase-2 .container-2 .right .financial-advice p {
      font-size: 16px; /*storleken på texten */
      font-weight: 400;
    }
  }
  .showcase-2 .container-2 .right .risk-management {
    margin-left: 13px;
  }
  .showcase-2 .container-2 .right .risk-management img {
    margin-bottom: 10px;
  }
  .showcase-2 .container-2 .right .risk-management h2 {
    font-family: "DM Sans", sans-serif; /*kolla design mallen och hämta från fonts.google.com */
    font-weight: 600;
    font-size: 18px;
    color: #191919;
  }
  .showcase-2 .container-2 .right .risk-management p {
    color: rgb(94, 94, 93);
    font-family: "Inter", sans-serif; /*Textsnitt */
    font-size: 13px; /*storleken på texten */
    font-weight: 400;
  }
  @media (min-width: 576px) {
    .showcase-2 .container-2 .right .risk-management {
      margin-top: 40px;
      margin-left: 62px;
    }
    .showcase-2 .container-2 .right .risk-management img {
      margin-bottom: 30px;
    }
    .showcase-2 .container-2 .right .risk-management h2 {
      font-weight: 900;
      font-size: 22px;
    }
    .showcase-2 .container-2 .right .risk-management p {
      font-size: 16px; /*storleken på texten */
      font-weight: 400;
    }
  }